<div id="watermeter_page">
    <input type="hidden" id="seq_no_edit">
    <input type="hidden" id="name_edit">
    <!--start-->
    <div style="float: left;width: 70%;position:relative;margin: 20px 0px 0px 20px ">
        <div style="width: 100%;height: 54px;background: #f3f3f3;border: 1px solid #e4e4e4;line-height: 74px">
            <div style="width: 90%;float: left">

                <style>
                    .div_row{
                        line-height: 50px;height: 50px;
                    }
                    .div_row label{
                        float: left;
                        display: inline-block;
                        text-align: right;
                        margin-right: 5px;
                    }
                    .div_wrapper{
                        overflow: hidden;
                        margin-bottom: 8px;
                    }
                    .div_wrapper input,.div_wrapper select{
                        box-sizing: border-box;
                        border: 1px solid #dfdfdf;
                        width: 100%;
                        height: 30px;
                        outline: medium;
                    }
                </style>


                <div class="div_row" style="width: 20%;float: left;">
                    <label style="font-size: 14px;color: #666666;padding-left: 14px">入库单号</label>
                    <div class="div_wrapper">
                        <input name="name_q" id="name_q">
                    </div>
                </div>
                <div class="div_row" style="width: 20%;float: left ;">
                    <label style="font-size: 14px;color: #666666;padding-left: 14px">供应商</label>
                    <div class="div_wrapper" >
                        <select id="status_q" name="status_q">
                            <option value="">请选择</option>
                            <option value="1">供应商一</option>
                            <option value="2">供应商二</option>
                        </select>
                    </div>
                </div>
            </div>

            <div style="width: 10%;float: left;margin-top: 0px">
                <div id="employeeSeatchBut" style="cursor:pointer;float: right;width: 77px;height: 30px;background: url(../images/sousuo.png);margin: 12px 18px 0px 0px;font-size: 15px;color: white;line-height: 30px;text-align: center">搜索</div></div>
        </div>
        <div style="width: 100%;min-height: 500px;border: 1px solid #e4e4e4;margin-top: 12px;padding: 10px 0px 0px 10px">
            <table class="table-style-1 table-style-1-a table-hover mb-0-5" id="area_Table">
                <thead>
                <tr class="sch">
                    <td style="width: 14%;" align="center">
                        <div class="t text-left" >入库单号
                            <span class="sort-ico" style="padding-top:10px;"><i class="dot-top icon-caret-up"></i><i class="dot-bottom icon-caret-down"></i></span>
                        </div>
                    </td>
                    <td style="width: 14%;" align="center">
                        <div class="t">供应商<span class="sort-ico" style="padding-top:10px;"><i class="dot-top icon-caret-up"></i><i class="dot-bottom icon-caret-down"></i></span></div>
                    </td>
                    <td style="width: 14%;" align="center">
                        <div class="t">应付金额<span class="sort-ico" style="padding-top:10px;"><i class="dot-top icon-caret-up"></i><i class="dot-bottom icon-caret-down"></i></span></div>
                    </td>
                    <td style="width: 14%;" align="center">
                        <div class="t">已付金额<span class="sort-ico" style="padding-top:10px;"><i class="dot-top icon-caret-up"></i><i class="dot-bottom icon-caret-down"></i></span></div>
                    </td>
                    <td style="width: 14%;" align="center">
                        <div class="t text-left" >收货单号
                            <span class="sort-ico" style="padding-top:10px;"><i class="dot-top icon-caret-up"></i><i class="dot-bottom icon-caret-down"></i></span>
                        </div>
                    </td>
                    <td style="width: 14%;" align="center">
                        <div class="t text-left" >收货日期
                            <span class="sort-ico" style="padding-top:10px;"><i class="dot-top icon-caret-up"></i><i class="dot-bottom icon-caret-down"></i></span>
                        </div>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr role="row" class="odd">
                    <td><div style="text-align: center;">2017100001</div></td>
                    <td><div style="text-align: center;">怡宝饮料</div></td>
                    <td><div style="text-align: center;">8888888</div></td>
                    <td><div style="text-align: center;">0</div></td>
                    <td><div style="text-align: center;">02581</div></td>
                    <td><div style="text-align: center;">2017-10-15</div></td>
                </tr>
                <tr role="row" class="odd">
                    <td><div style="text-align: center;">2017100001</div></td>
                    <td><div style="text-align: center;">怡宝饮料</div></td>
                    <td><div style="text-align: center;">8888888</div></td>
                    <td><div style="text-align: center;">0</div></td>
                    <td><div style="text-align: center;">02581</div></td>
                    <td><div style="text-align: center;">2017-10-15</div></td>
                </tr>
                <tr role="row" class="odd">
                    <td><div style="text-align: center;">2017100001</div></td>
                    <td><div style="text-align: center;">怡宝饮料</div></td>
                    <td><div style="text-align: center;">8888888</div></td>
                    <td><div style="text-align: center;">0</div></td>
                    <td><div style="text-align: center;">02581</div></td>
                    <td><div style="text-align: center;">2017-10-15</div></td>
                </tr>
                <tr role="row" class="odd">
                    <td><div style="text-align: center;">2017100001</div></td>
                    <td><div style="text-align: center;">怡宝饮料</div></td>
                    <td><div style="text-align: center;">8888888</div></td>
                    <td><div style="text-align: center;">0</div></td>
                    <td><div style="text-align: center;">02581</div></td>
                    <td><div style="text-align: center;">2017-10-15</div></td>
                </tr>
                <tr role="row" class="odd">
                    <td><div style="text-align: center;">2017100001</div></td>
                    <td><div style="text-align: center;">怡宝饮料</div></td>
                    <td><div style="text-align: center;">8888888</div></td>
                    <td><div style="text-align: center;">0</div></td>
                    <td><div style="text-align: center;">02581</div></td>
                    <td><div style="text-align: center;">2017-10-15</div></td>
                </tr>
                <tr role="row" class="odd">
                    <td><div style="text-align: center;">2017100001</div></td>
                    <td><div style="text-align: center;">怡宝饮料</div></td>
                    <td><div style="text-align: center;">8888888</div></td>
                    <td><div style="text-align: center;">0</div></td>
                    <td><div style="text-align: center;">02581</div></td>
                    <td><div style="text-align: center;">2017-10-15</div></td>
                </tr>
                <tr role="row" class="odd">
                    <td><div style="text-align: center;">2017100001</div></td>
                    <td><div style="text-align: center;">怡宝饮料</div></td>
                    <td><div style="text-align: center;">8888888</div></td>
                    <td><div style="text-align: center;">0</div></td>
                    <td><div style="text-align: center;">02581</div></td>
                    <td><div style="text-align: center;">2017-10-15</div></td>
                </tr>

                </tbody>
            </table>
            <div style="width:calc(100% - 10px);bottom: 0px;position:absolute;">
                <table class="table-style-1 table-style-1-a table-hover " id="area_Table">
                    <thead>
                    <tr class="sch">
                        <td style="width: 14%;" align="center">
                            <div class="t text-left" >总计
                                <span class="sort-ico" style="padding-top:10px;"><i class="dot-top icon-caret-up"></i><i class="dot-bottom icon-caret-down"></i></span>
                            </div>
                        </td>
                        <td style="width: 14%;" align="center">
                            <div class="t"><span class="sort-ico" style="padding-top:10px;"><i class="dot-top icon-caret-up"></i><i class="dot-bottom icon-caret-down"></i></span></div>
                        </td>
                        <td style="width: 14%;" align="center">
                            <div class="t">88888888<span class="sort-ico" style="padding-top:10px;"><i class="dot-top icon-caret-up"></i><i class="dot-bottom icon-caret-down"></i></span></div>
                        </td>
                        <td style="width: 14%;" align="center">
                            <div class="t">0<span class="sort-ico" style="padding-top:10px;"><i class="dot-top icon-caret-up"></i><i class="dot-bottom icon-caret-down"></i></span></div>
                        </td>
                        <td style="width: 14%;" align="center">
                            <div class="t text-left" >
                                <span class="sort-ico" style="padding-top:10px;"><i class="dot-top icon-caret-up"></i><i class="dot-bottom icon-caret-down"></i></span>
                            </div>
                        </td>
                        <td style="width: 14%;" align="center">
                            <div class="t text-left" >
                                <span class="sort-ico" style="padding-top:10px;"><i class="dot-top icon-caret-up"></i><i class="dot-bottom icon-caret-down"></i></span>
                            </div>
                        </td>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div style="float: left;width: 25%;position:relative;margin: 20px 0px 0px 20px ">
        <div style="width: 100%;height: 54px;background: #f3f3f3;border: 1px solid #e4e4e4;line-height: 74px">
            <div id="employeeSeatchBut" style="cursor:pointer;float: right;width: 77px;height: 30px;background: url(../images/sousuo.png);margin: 12px 18px 0px 0px;font-size: 15px;color: white;line-height: 30px;text-align: center">撤销</div>
            <div class="addInovoice" id="employeeSeatchBut" style="cursor:pointer;float: right;width: 77px;height: 30px;background: url(../images/sousuo.png);margin: 12px 18px 0px 0px;font-size: 15px;color: white;line-height: 30px;text-align: center">发票生成</div>
        </div>
        <div style="width: 100%;min-height: 500px;border: 1px solid #e4e4e4;margin-top: 12px;padding: 10px 0px 0px 10px">
            <table class="table-style-1 table-style-1-a table-hover mb-0-5" id="area_Table">
                <thead>
                <tr class="sch">
                    <td style="width: 14%;" align="center">
                        <div class="t text-left" >记录编号
                            <span class="sort-ico" style="padding-top:10px;"><i class="dot-top icon-caret-up"></i><i class="dot-bottom icon-caret-down"></i></span>
                        </div>
                    </td>
                    <td style="width: 14%;" align="center">
                        <div class="t">应付款金额<span class="sort-ico" style="padding-top:10px;"><i class="dot-top icon-caret-up"></i><i class="dot-bottom icon-caret-down"></i></span></div>
                    </td>
                    <td style="width: 14%;" align="center">
                        <div class="t">标志<span class="sort-ico" style="padding-top:10px;"><i class="dot-top icon-caret-up"></i><i class="dot-bottom icon-caret-down"></i></span></div>
                    </td>

                </tr>
                </thead>
                <tbody>
                <tr role="row" class="odd">
                    <td><div style="text-align: center;">2017100001</div></td>
                    <td><div style="text-align: center;">8888888</div></td>
                    <td><div class="employee_edit" style="text-align: center;cursor:pointer;">　</div></td>
                </tr>
                <tr role="row" class="odd">
                    <td><div style="text-align: center;">2017100001</div></td>
                    <td><div style="text-align: center;">8888888</div></td>
                    <td><div class="employee_edit" style="text-align: center;cursor:pointer;">部分</div></td>
                </tr>
                <tr role="row" class="odd">
                    <td><div style="text-align: center;">2017100001</div></td>
                    <td><div style="text-align: center;">8888888</div></td>
                    <td><div class="employee_edit" style="text-align: center;cursor:pointer;">　</div></td>
                </tr>


                </tbody>
            </table>
            <div style="width:calc(100% - 10px);bottom: 0px;position:absolute;">
                <table class="table-style-1 table-style-1-a table-hover " id="area_Table">
                    <thead>
                    <tr class="sch">
                        <td style="width: 14%;" align="center">
                            <div class="t text-left" >合计3行
                                <span class="sort-ico" style="padding-top:10px;"><i class="dot-top icon-caret-up"></i><i class="dot-bottom icon-caret-down"></i></span>
                            </div>
                        </td>

                        <td style="width: 14%;" align="center">
                            <div class="t text-left" >
                                <span class="sort-ico" style="padding-top:10px;"><i class="dot-top icon-caret-up"></i><i class="dot-bottom icon-caret-down"></i></span>
                            </div>
                        </td>
                        <td style="width: 14%;" align="center">
                            <div class="t">88888888<span class="sort-ico" style="padding-top:10px;"><i class="dot-top icon-caret-up"></i><i class="dot-bottom icon-caret-down"></i></span></div>
                        </td>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- 添加集中器弹窗 -->
    <div class="modal modal-noline fade" id="addAreaModal" tabindex="-1" role="dialog" aria-labelledby="addAccountModalLabel" aria-hidden="true">
        <div class="modal-outer">
            <div class="modal-middle">
                <div class="modal-dialog modal-inner float-none" style="width:1080px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"></button>
                        </div>
                        <div class="modal-body p-1 ">

                            <div class="form-group" >
                                <style>
                                    .table-style-2>tbody>tr>td {
                                        border: 1px solid #e6e6e6;
                                        border-right: none;
                                    }
                                </style>
                                <table class="table-style-2 table-style-1 table-style-1-a table-hover mb-0-5" id="area_Table">
                                    <thead>
                                    <tr class="sch" style="font-size: 12px;">
                                        <td style="width: 7%;" align="center">
                                            <div class="t text-left" >商品编号
                                                <span class="sort-ico" style="padding-top:10px;"><i class="dot-top icon-caret-up"></i><i class="dot-bottom icon-caret-down"></i></span>
                                            </div>
                                        </td>
                                        <td style="width: 7%;" align="center">
                                            <div class="t">商品名称<span class="sort-ico" style="padding-top:10px;"><i class="dot-top icon-caret-up"></i><i class="dot-bottom icon-caret-down"></i></span></div>
                                        </td>
                                        <td style="width: 7%;" align="center">
                                            <div class="t">规格<span class="sort-ico" style="padding-top:10px;"><i class="dot-top icon-caret-up"></i><i class="dot-bottom icon-caret-down"></i></span></div>
                                        </td>
                                        <td style="width: 7%;" align="center">
                                            <div class="t">数量<span class="sort-ico" style="padding-top:10px;"><i class="dot-top icon-caret-up"></i><i class="dot-bottom icon-caret-down"></i></span></div>
                                        </td>
                                        <td style="width: 7%;" align="center">
                                            <div class="t">单价<span class="sort-ico" style="padding-top:10px;"><i class="dot-top icon-caret-up"></i><i class="dot-bottom icon-caret-down"></i></span></div>
                                        </td>
                                        <td style="width: 7%;" align="center">
                                            <div class="t">金额<span class="sort-ico" style="padding-top:10px;"><i class="dot-top icon-caret-up"></i><i class="dot-bottom icon-caret-down"></i></span></div>
                                        </td>
                                        <td style="width: 7%;" align="center">
                                            <div class="t">已开票数量<span class="sort-ico" style="padding-top:10px;"><i class="dot-top icon-caret-up"></i><i class="dot-bottom icon-caret-down"></i></span></div>
                                        </td>
                                        <td style="width: 7%;" align="center">
                                            <div class="t">已开票金额<span class="sort-ico" style="padding-top:10px;"><i class="dot-top icon-caret-up"></i><i class="dot-bottom icon-caret-down"></i></span></div>
                                        </td>
                                        <td style="width: 7%;" align="center">
                                            <div class="t">本次开票数量<span class="sort-ico" style="padding-top:10px;"><i class="dot-top icon-caret-up"></i><i class="dot-bottom icon-caret-down"></i></span></div>
                                        </td>
                                        <td style="width: 7%;" align="center">
                                            <div class="t">本次开票金额<span class="sort-ico" style="padding-top:10px;"><i class="dot-top icon-caret-up"></i><i class="dot-bottom icon-caret-down"></i></span></div>
                                        </td>
                                        <td style="width: 7%;" align="center">
                                            <div class="t">本次开票数量<span class="sort-ico" style="padding-top:10px;"><i class="dot-top icon-caret-up"></i><i class="dot-bottom icon-caret-down"></i></span></div>
                                        </td>
                                        <td style="width: 7%;" align="center">
                                            <div class="t">结余数量<span class="sort-ico" style="padding-top:10px;"><i class="dot-top icon-caret-up"></i><i class="dot-bottom icon-caret-down"></i></span></div>
                                        </td>
                                        <td style="width: 7%;" align="center">
                                            <div class="t">结余金额<span class="sort-ico" style="padding-top:10px;"><i class="dot-top icon-caret-up"></i><i class="dot-bottom icon-caret-down"></i></span></div>
                                        </td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr role="row" class="odd" style="font-size: 12px;">
                                        <td><div style="text-align: center;">10001</div></td>
                                        <td><div style="text-align: center;">80422</div></td>
                                        <td><div style="text-align: center;">怡宝矿泉水</div></td>
                                        <td><div style="text-align: center;">24</div></td>
                                        <td><div style="text-align: center;">100.00</div></td>
                                        <td><div style="text-align: center;">23.00</div></td>
                                        <td><div style="text-align: center;">2300.00</div></td>
                                        <td style="background-color: lightgreen"><div style="text-align:center"></div></td>
                                        <td style="background-color: lightgreen"><div style="text-align: center;"></div></td>
                                        <td><div style="text-align: center;"></div></td>
                                        <td><div style="text-align: center;"></div></td>
                                        <td><div style="text-align: center;color: red">100</div></td>
                                        <td><div style="text-align: center;color: red">2300</div></td>

                                    </tr>
                                    <tr role="row" class="odd" style="font-size: 12px;">
                                        <td><div style="text-align: center;">10001</div></td>
                                        <td><div style="text-align: center;">80422</div></td>
                                        <td><div style="text-align: center;">怡宝矿泉水</div></td>
                                        <td><div style="text-align: center;">24</div></td>
                                        <td><div style="text-align: center;">100.00</div></td>
                                        <td><div style="text-align: center;">23.00</div></td>
                                        <td><div style="text-align: center;">2300.00</div></td>
                                        <td style="background-color: lightgreen"><div style="text-align:center"></div></td>
                                        <td style="background-color: lightgreen"><div style="text-align: center;"></div></td>
                                        <td><div style="text-align: center;"></div></td>
                                        <td><div style="text-align: center;"></div></td>
                                        <td><div style="text-align: center;color: red">100</div></td>
                                        <td><div style="text-align: center;color: red">2300</div></td>

                                    </tr>
                                    <tr role="row" class="odd" style="font-size: 12px;">
                                        <td><div style="text-align: center;">10001</div></td>
                                        <td><div style="text-align: center;">80422</div></td>
                                        <td><div style="text-align: center;">怡宝矿泉水</div></td>
                                        <td><div style="text-align: center;">24</div></td>
                                        <td><div style="text-align: center;">100.00</div></td>
                                        <td><div style="text-align: center;">23.00</div></td>
                                        <td><div style="text-align: center;">2300.00</div></td>
                                        <td style="background-color: lightgreen"><div style="text-align:center"></div></td>
                                        <td style="background-color: lightgreen"><div style="text-align: center;"></div></td>
                                        <td><div style="text-align: center;"></div></td>
                                        <td><div style="text-align: center;"></div></td>
                                        <td><div style="text-align: center;color: red">100</div></td>
                                        <td><div style="text-align: center;color: red">2300</div></td>

                                    </tr>
                                    <tr role="row" class="odd" style="font-size: 12px;background-color: greenyellow">
                                        <td><div style="text-align: center;"></div></td>
                                        <td><div style="text-align: center;">总计</div></td>
                                        <td><div style="text-align: center;">共3行</div></td>
                                        <td><div style="text-align: center;"></div></td>
                                        <td><div style="text-align: center;">300.00</div></td>
                                        <td><div style="text-align: center;"></div></td>
                                        <td><div style="text-align: center;">6900.00</div></td>
                                        <td style="background-color: lightgreen"><div style="text-align:center">0</div></td>
                                        <td style="background-color: lightgreen"><div style="text-align: center;">0</div></td>
                                        <td><div style="text-align: center;">0</div></td>
                                        <td><div style="text-align: center;">0</div></td>
                                        <td><div style="text-align: center;color: red">100</div></td>
                                        <td><div style="text-align: center;color: red">2300</div></td>

                                    </tr>

                                    </tbody>
                                </table>

                            </div>

                            <form class="form-horizontal" action="" method="post"   id="add_form">
                                <!--<div class="modal-footer text-center pb-2">
                                    <button type="button" class="btn btn-default btn-default-green w-14 font-16 float-none" data-dismiss="modal" id="add_account_cancel">取消</button>
                                    <button id="save_area" type="button" class="btn btn-success w-14 font-16 float-none ml-2">保存</button>
                                </div>-->

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 添加集中器弹窗 -->
    <div class="modal modal-noline fade" id="addInovoice" tabindex="-1" role="dialog" aria-labelledby="addInovoiceModalLabel" aria-hidden="true">
        <div class="modal-outer">
            <div class="modal-middle">
                <div class="modal-dialog modal-inner float-none" style="width:650px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"></button>
                        </div>
                        <div class="modal-body p-1 pt-3 pl-2">

                            <form class="form-horizontal" action="" method="post"   id="add_form">
                                <input id="seq_no" type="hidden" name="seq_no">
                                <input id="res" name="res" type="reset" style="display:none;" />
                                <div class="form-group ">
                                    <label class="control-label w-9" style="font-size: 29px;width: 165px;margin: 0px 0px 0 28px;">发票生成</label>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label w-12">发票编号：</label>
                                    <div class="w-40">
                                        <input id="w_id" class="form-control" type="text" name="w_id"   maxlength="20" value="10001" >
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label w-12">供应商名称：</label>
                                    <div class="w-40">
                                        <input id="w_id" class="form-control" type="text" name="w_id"   maxlength="20" value="宁波美度贸易有限公司" >
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label w-12">发票日期：</label>
                                    <div class="w-40">
                                        <input id="w_id" class="form-control" type="text" name="w_id"   maxlength="20" value="2017-10-15" >
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label w-12">应付款金额：</label>
                                    <div class="w-40">
                                        <input id="w_id" class="form-control" type="text" name="w_id"   maxlength="20" value="8888888" >
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label w-12">扣款：</label>
                                    <div class="w-40">
                                        <input id="w_id" class="form-control" type="text" name="w_id"   maxlength="20" value="0.00" >
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label w-12">发票金额：</label>
                                    <div class="w-40">
                                        <input style="color: red;" id="w_id" class="form-control" type="text" name="w_id"   maxlength="20" value="8888888" >
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label w-12">制单人：</label>
                                    <div class="w-40">
                                        <input  id="w_id" class="form-control" type="text" name="w_id"   maxlength="20" value="CD" >
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label w-12">备注：</label>
                                    <div class="w-40">
                                        <input id="w_id" class="form-control" type="text" name="w_id"   maxlength="20" value="8888888" >
                                    </div>
                                </div>




                                <div class="modal-footer text-center pb-2">
                                    <button type="button" class="btn btn-default btn-default-green w-14 font-16 float-none" data-dismiss="modal" id="add_account_cancel">取消</button>
                                    <button id="save_area" type="button" class="btn btn-success w-14 font-16 float-none ml-2">保存</button>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--私有js-->
<script>

    $(".employee_edit").on("click",function(){
        $("#addAreaModal").modal('show');
    })
    $(".addInovoice").on("click",function(){
        $("#addInovoice").modal('show');
    })
</script>
<!--<script src="/js/table-ajax.js"></script>-->
<!--<script src="/js/Backstage/watermeter.js"></script>-->
<!--end-->