<!--分组管理页面-->

<div id="home_page">
    <div style="float: left;width: 100%;min-height: 615px;background:url(/images/home_bg2.jpg);
border-radius:5px;">
        <body style="width:100%;height:100%;">
        </body>
    </div>
</div>