<div id="product_add_page">
    <!--start-->
    <ol class="breadcrumb">
        <div style="text-align: center;font-size: 16px;font-weight:bold;">销售日报</div>
    </ol>
    <div class="main-box main-box-noborder overflow-hidden" style="padding-top: 12px;padding-left: 20px;">
        <form class="form-horizontal"    id="ff">


            <div class="form-group">
                <label class="w-13 control-label" style="font-family: 微软雅黑;font-size: 16px">日报日期：</label>
                <div class="w-12 relative ml-1">
                    <input style="border-left-width:0px;border-top-width:0px;border-right-width:0px;border-bottom-color:black" id="daily_data" class="form-control" type="text" name="daily_data" maxlength="12" value="2017-11-01">
                </div>
                <label class="w-13 control-label" style="font-family: 微软雅黑;font-size: 16px">汇报人：</label>
                <div class="w-12 relative ml-1">
                    <input style="border-left-width:0px;border-top-width:0px;border-right-width:0px;border-bottom-color:black" id="daily_man" class="form-control" type="text" name="daily_man" maxlength="12" value="CD">
                </div>
                <label class="w-13 control-label" style="font-family: 微软雅黑;font-size: 16px">所属部门：</label>
                <div class="w-12 relative ml-1">
                    <input style="border-left-width:0px;border-top-width:0px;border-right-width:0px;border-bottom-color:black" id="department" class="form-control" type="text" name="department" maxlength="12" value="销售部">
                </div>
                <label class="w-13 control-label" style="font-family: 微软雅黑;font-size: 16px">审阅状态：</label>
                <div class="w-12 relative ml-1">
                    <input style="border-left-width:0px;border-top-width:0px;border-right-width:0px;border-bottom-color:black" id="state" class="form-control" type="text" name="state" maxlength="12" value="待阅">
                </div>
            </div>


            <div class="form-group">
                <label class="w-13 control-label" style="font-family: 微软雅黑;font-size: 16px">汇报内容：</label>
                <div class="w-100 relative ml-4 ">
                    <textarea class="form-control" rows="3" id="body" name="body" maxlength="1024" placeholder="" style="height: 120px"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="w-13 control-label" style="font-family: 微软雅黑;font-size: 16px">相关附件：</label>
                <div class="msg text-gray-lighter font-12 mt-0-5">(请上传产品驱动)</div>
                <div class="roompic-upload w-12" style="margin-top: 5px;">
                   <!-- <a id="add_top_img1" href="#" class="form-btn-upload" >添加附件</a>-->
                    <input type="file" name="file">
                </div>
            </div>
            <div class="form-group">
                <label class="w-13 control-label" style="font-family: 微软雅黑;font-size: 16px">相关附件图片显示demo：</label>
                <div class="  w-12" style="margin-top: 5px;">
                <img src="/upload/ywojCOS3qkE822PN9xMEF4M2.png"/>
                </div>
            </div>
            <div class="form-group">
                <label class="w-13 control-label" style="font-family: 微软雅黑;font-size: 16px">相关附件下载demo：</label>
                <div class="  w-12" style="margin-top: 5px;">
                    <a href="/upload/down/ywojCOS3qkE822PN9xMEF4M2.png">name.rar</a>
                </div>
            </div>

            <!--<ol class="breadcrumb">
                <div style="text-align: center;font-size: 16px;font-weight:bold;">审核意见</div>
            </ol>-->
<!--            <div class="form-group">
                <label class="w-13 control-label" style="font-family: 微软雅黑;font-size: 16px">审核时间：</label>
                <div class="w-12 relative ml-1">
                    <input style="border-left-width:0px;border-top-width:0px;border-right-width:0px;border-bottom-color:black" id="product_name" class="form-control" type="text" name="home_title1" maxlength="12" value="2017-11-01">
                </div>
                <label class="w-13 control-label" style="font-family: 微软雅黑;font-size: 16px">审核人：</label>
                <div class="w-12 relative ml-1">
                    <input style="border-left-width:0px;border-top-width:0px;border-right-width:0px;border-bottom-color:black" id="product_name" class="form-control" type="text" name="home_title1" maxlength="12" value="CD">
                </div>
            </div>

            <div class="form-group">
                <label class="w-13 control-label" style="font-family: 微软雅黑;font-size: 16px">审核意见：</label>
                <div class="w-100 relative ml-1 ">
                    <textarea class="form-control" rows="3" id="product_content" name="home_about_content" maxlength="1024" placeholder="" style="height: 120px"></textarea>
                </div>
            </div>-->
            <div class="modal-footer pb-2" style="text-align: center;">
                <button type="button" class="btn btn-default btn-default-green w-14 font-16 float-none" data-dismiss="modal" id="add_account_cancel">取消</button>
                <button id="save" type="button" class="btn btn-success w-14 font-16 float-none ml-2" >保存</button>
            </div>
        </form>
        <nav class="pagination-wrap clearfix" style="height: 20px;margin-top:-22px">
        </nav>
    </div>
    <script>
        function CloseWebPage(){
            $(".nav-main ul .close-page").trigger("click");
        }
        $('.close').on('click',function(){
            $("#addClassModal").modal('hide');
            $("#addDataModal").modal('hide');
            $("#addQuestionsModal").modal('hide');
        })

        $('#save').on('click',function(){
            var formData = new FormData(document.getElementById('ff'));
            debugger;
            $.ajax({
                url: '/oa/saveDaily',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                xhrFields: {
                    withCredentials: true
                },
                crossDomain: true,
                success: function (obj) {
                    alert('保存成功');
                },
                error: function (obj) {
                     alert('保存失败');
                }
            })
        })
    </script>
    <!--私有js-->
<!--    <script src="js/backstage/product_add.js"></script>-->
    <!--end-->
</div>